.project-img {
    width: 30vw;
    margin-right: 7%;
}


.project-no {
    margin-left: 12%;
}

.project-section {
    height: calc(100vh - 10vw);
    overflow: hidden;
    width: calc(100% - 36vw);

}

.project-board {
    margin-top: 2.5vw;
    z-index: 2;
}


/* 01, 02, 03 */
.project-sec1 {
    font-family: 'Ghanachocolate';
    font-size: 3.5vw;
    color: #475347;
}

/* 프로젝트명 */
.project-sec2 {
    margin-top: 1vw;
    font-family: 'Ghanachocolate';
    font-size: 4.2vw;
    color: #475347;
}

/* 프로젝트 간단 소개 */
.project-sec3 {
    margin-left: 1vw;
    margin-top: 1.5vw;
    line-height: 1.6vw;
    color: #7B8676;
    font-weight: 700;
    font-size: 1vw;
}

/* 프로젝트 해시태그 */
.project-sec4 {
    margin-left: 1vw;
    margin-top: 1vw;
    font-size: 1.3vw;
    color: #C0AC93;
    font-weight: bold;
}


.swiper {
    width: 100%;
    height: 70vh;
    border-radius: 70px;
    background-color: #FFFFFF80;
}

.swiper-slide {
    text-align: start;
    font-size: 18px;
    /* background-color: aliceblue; */
    /* Center slide text vertically */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-view {
    margin-top: 2vw;
    font-size: 1.3vw;
    font-weight: bold;
    width: 11vw;
    height: 3vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #4acaa8;
    color: white;
    border-radius: 50px;
    margin-left: 0.5vw;
    box-shadow: 0.3vw 0.3vw #7de1c6;
}

.project-view:hover {
    background-color: #7de1c6;
}