nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav a {
    text-decoration: none;
    display: flex;
    flex-direction: column;


}


.navActive {
    font-size: 3vh;
    color: #144034;
    margin-bottom: 2vh;

}

.navUnActive {
    color: white;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 2vh;
    cursor: pointer
}

.navUnActive:hover {
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-weight: bold;


}

.nav-bottom {
    border-radius: 3.125rem;
    width: 5%;
    height: 13vh;
    background-color: #4acaa8;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 4%;
    right: 2%;
}


nav img {
    width: 4.3vw;
}

nav img:hover {
    transition: 0.5s;
    filter: invert(50%) sepia(3%) saturate(1651%) hue-rotate(40deg) brightness(99%) contrast(50%);
}


.arrowbtn a {
    fill: var(--bg-color1);
    align-items: center;
    background-color: #4acaa8;
    border-radius: 3.125rem;
    bottom: 9vw;
    color: #f3f2ed;
    display: block;
    display: flex;
    font-size: 2.5vw;
    height: 7vw;
    justify-content: center;
    position: fixed;
    right: 2%;
    text-align: center;
    transition: .3s;
    width: 5vw;
}


@media screen and (max-width: 500px) {

    .navActive {
        font-size: 2vh;
        font-weight: bold;
        color: #2A412A;
    }

    .navUnActive {
        color: white;
        font-size: 2vh;
    }

    .navUnActive:hover {
        color: rgb(255, 255, 255);
        font-size: 2vh;
        font-weight: bold;


    }

}